body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.blue {
    color: blue;
}

.well{
  margin-bottom:0px;
  margin-top:10px;
}

.form-group {
	margin-bottom:0px;
}