body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.blue {
    color: blue;
}

.well{
  margin-bottom:0px;
  margin-top:10px;
}

.form-group {
	margin-bottom:0px;
}

.row-centered {
	float:none;	
    vertical-align:middle;
}

.commentXXX {
/*     display: inline-block; */
/*     overflow: hidden; */
/*     height: 0; */
    transition: height 2s;
    -moz-transition: height 2s; /* Firefox 4 */
    -webkit-transition: height 2s; /* Safari and Chrome */
    -o-transition: height 2s; /* Opera */
}