<div class="form-group">
	<div class="row-fluid row-centered">
		<label class="control-label col-sm-4" popover="{{partDescription}}"
			popover-trigger="mouseenter">{{name}}</label>
		<div class="col-sm-2">
			<select class="form-control selectwidthauto"
				ng-model="partBinding.codeSystem"
				popover="Select the source terminology, code system, or classicication"
				popover-trigger="mouseenter">
				<option ng-repeat="t in terminologies">{{t.name}}</option>
			</select>

		</div>
		<div class="col-sm-2">
			<select class="form-control selectwidthauto"
				ng-model="partBinding.assessment"
				popover="Select your rating of the binding"
				popover-trigger="mouseenter">
				<option value="1">1 Full coverage</option>
				<option value="2">2 Inferred coverage</option>
				<option value="3">3 Partial coverage</option>
				<option value="4">4 No coverage</option>
				<option value="5">5 Out of scope</option>
			</select>

		</div>
		<div class="col-sm-3">
			<input class="form-control col-sm-3" type="text" placeholder="Code"
				ng-model="partBinding.target"
				popover="Enter the code or codes, separate multiple codes with a semicolon (';')"
				popover-trigger="mouseenter" />
		</div>
		<div class="col-sm-1">
			<button class="close" type="button"
				ng-click="partBinding.target=null;partBinding.assessment=null;partBinding.codeSystem=null;$parent.bindingForm.$setDirty();"
				popover="Click to clear row" popover-trigger="mouseenter">&times;</button>
			<span class="glyphicon glyphicon-comment" style="padding: 5px"
				ng-class="{'bg-primary': partBinding.comments.length > 0}"
				popover="Click to add or view comments" popover-trigger="mouseenter" />
		</div>
	</div>
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1 commentXXX well collapse">
			<ul class="list-group">
				<li class="list-group-item"
					ng-repeat="comment in partBinding.comments">
					<h6 class="list-group-item-heading">
						{{comment.date | date:'short'}}
						<button class="close pull-right" type="button"
							ng-click="_delete(this)">&times;</button>
					</h6>
					<p class="list-group-item-text">{{comment.text}}</p>
				</li>
			</ul>
			<div class="row">
				<div class="col-sm-10">
					<textarea class="form-control" ng-model="commentText"
						placeholder="New comment" />
				</div>
				<div class="col-sm-2">
					<button class="btn btn-primary" ng-click="addComment(commentText)">Add</button>
				</div>
			</div>
		</div>
	</div>
</div>
